<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"><span class="titre"><strong>&nbsp;WebFlix</strong></span></ion-icon>
    </button>
    <ion-title>Liste des films</ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      <div class="item-note" item-end>
        {{item.title}}
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content> -->

<ion-content class="card-background-page">

  <ion-list>
    <ion-card *ngFor="let item of items" (click)="itemTapped($event, item)">
      <img [src]="item.urlphoto" />
      <!-- <div class="card-title">{{ item.title }}</div> -->
      <div class="card-subtitle" [innerHTML]="item.note | star"></div>
    </ion-card>
  </ion-list>

</ion-content>

